/* Single button */
.ng-social-button_single {
	position:relative;
	padding-left:19px;
	background:#e2e2e2;
	.linear-gradient(#f7f7f7, #e2e2e2);
	color:#444;
	border-color:#ccc;
	border-color:hsla(0,0%,70%,.8);
	border-bottom-color:hsla(0,0%,60%,.8);
}
.ng-social-button_single:hover {
	background:#f4f4f4;
	.linear-gradient(#f0f0f0, #cfcfcf);
	color:#222;
	border-color:#bbb;
	border-bottom-color:#9f9f9f;
}
.ng-social-icon_single {
	background-image:url('images/single.png');
	background-position:2px 3px;
}
.ng-social-counter_single {
	background:#f6f6f6;
	border-color:#ddd;
}
.ng-social-counter_single:after {
	border-right-color:#f6f6f6;
}