/* Google+ */
.ng-social-google-plus {
  @btn-color: #e4e4e4;

  .ng-social-button {
    padding-left:19px;
    background:#e4e4e4;
    .linear-gradient(#f5f5f5, #e4e4e4);
    color:#cd4427;
    border-color: #bbb;

    &:hover {
      background:#f4f4f4;
      .linear-gradient(#f9f9f9, #f0f0f0);
      color:#cd4427;
      border-color:#ddd;
    }
  }
  .ng-social-icon {
    background-image:url('googleplus.png');
    background-position:0 6px;
  }
  .ng-social-counter {
    background: mix(@btn-color, #fff, 10%);
    border-color: @btn-color;

    &:after {
      border-right-color: mix(@btn-color, #fff, 10%);
    }
  }
}