/* Odnoklassniki */
.ng-social-odnoklassniki {
    @btn-color: #f6900b;

    .ng-social-button {
        padding-left:19px;
        background: @btn-color;
        .linear-gradient(#f6bb6d, #f6900b);
        color:#fff;
        border-color: darken(@btn-color, 10%);

        &:hover {
            border-color: darken(@btn-color, 10%);
            .linear-gradient(#fbcc5a, #f69a21);
        }
    }
    .ng-social-icon {
        background-image:url('images/odnoklassniki.png');
        background-position:4px 3px;
    }
    .ng-social-counter {
        background: mix(@btn-color, #fff, 10%);
        border-color: darken(@btn-color, 10%);

        &:after {
            border-right-color: mix(@btn-color, #fff, 10%);
        }
    }
}