/* Mail.ru */
.ng-social-mailru {
    @btn-color: #004584;

    .ng-social-button {
        padding-left:19px;
        background: @btn-color;
        .linear-gradient(#5d90ba, #004584);
        color:#fff;
        border-color: darken(@btn-color, 10%);

        &:hover {
            border-color: darken(@btn-color, 10%);
            .linear-gradient(#618cae, #001e5d);
        }
    }
    .ng-social-icon {
        background-image:url('images/mailru.png');
        background-position: 4px 3px;
    }
    .ng-social-counter {
        background: mix(@btn-color, #fff, 10%);
        border-color: darken(@btn-color, 10%);

        &:after {
            border-right-color: mix(@btn-color, #fff, 10%);
        }
    }
}