/* Pinterest */
.ng-social-pinterest {
    @btn-color: #eee;

    .ng-social-button {
        padding-left:19px;
        background: @btn-color;
        .linear-gradient(#fefefe, #d3d3d3);
        color:hsl(355,77%,44%);
        border-color: darken(@btn-color, 10%);

        &:hover {
            border-color: darken(@btn-color, 10%);
            .linear-gradient(#fff, #d9d9d9);
        }
    }
    .ng-social-icon {
        background-image:url('images/pinterest.png');
        background-position:2px 1px;
    }
    .ng-social-counter {
        background: mix(@btn-color, #fff, 10%);
        border-color: darken(@btn-color, 10%);

        &:after {
            border-right-color: mix(@btn-color, #fff, 10%);
        }
    }
}