/* StumbleUpon */
.ng-social-stumbleupon {
    @btn-color: #212121;

    .ng-social-button {
        padding-left:19px;
        background: @btn-color;
        .linear-gradient(#3d3d3d, #212121);
        color:#fff;
        border-color: darken(@btn-color, 10%);

        &:hover {
            border-color: darken(@btn-color, 10%);
            .linear-gradient(lighten(#3d3d3d, 10%), lighten(#212121, 10%));
            color: #fff;
        }
    }
    .ng-social-icon {
        background-image:url('images/10-stumbleupon.png');
        background-position:1px 1px;
    }
    .ng-social-counter {
        background: mix(@btn-color, #fff, 10%);
        border-color: darken(@btn-color, 10%);

        &:after {
            border-right-color: mix(@btn-color, #fff, 10%);
        }
    }
}